<div class="banner">

</div>

<div class="content">



  <div class="heading">
    <div class="header-image">
      <img src="assets/images/pad.jpg" alt="" height="100px" width="150px">
    </div>

    <div>
      <h1>
        GDPR Frontdesk
      </h1>
    </div>



    <div class="subheading heading">
      <span>
        <h3>
          The GDPR software for your Practice
        </h3>
      </span>
    </div>

  </div>








  <div class="listoftext">
    <br />
    <br />

    <div>Background:</div>
    <div><br></div>
    <div>
      <ul>
        <li>Originally developed to address the GDPR requirements for a medical
          practice.<br></li>
      </ul>
      <div><br></div>
      <div></div>
      <div>
        <ul>
          <li>A practitioner needs every patient to sign a list of
            questions
            stating they understand what personal data and why that data is required.&nbsp; They are granting
            permission to use the data stated for the purpose stated. Conventionally this is done by printing a
            form
            ($cost) that they will sign and then will have to be stored and managed ($cost + $time). Over a
            relatively short period of time there will be a growing stack of boxes filled with signed forms that
            need to be indexed and securely stored. ($ecurity issues + $time + $cost)</li>
        </ul>
      </div>
      <div><br></div>

      <div>Solution:</div>
      <div>
        <ul>
          <li>GDPR Frontdesk. A simple application that allows creation of
            questionnaires for any purpose. These are presented to the client on a tablet device for signing. The
            output is a password protected PDF file that can then be saved against the client's account on the
            practice professional software of choice.<br></li>
        </ul>
      </div>
      <div><br></div>

      <div>Applications:</div>
      <div>
        <ul>
          <li>Medical Practice - Doctor's Office - Dental Surgery - Schools - Sports Organisations - ...anywhere
            with
            a front desk that collects personal data that needs to be signed off.<br></li>
        </ul>
      </div>
    </div>
  </div>





  <table>


    <tr>
      <td class="columns">
        <div class="paragraph-image">
          <img src="assets/images/pad.jpg" alt="GDPR protection" class="images">
        </div>
      </td>
      <td>
        <div class="paragraph-header">
          Business side
        </div>
        <div class="paragraph-body">
          The GDPR Frontdesk application presents your client with a clean presentation of the questions one by one. At
          the last step they are asked to sign the tablet if they agree.
        </div>
      </td>
    </tr>


    <tr>
      <td class="columns">
        <div class="paragraph-image">
          <img src="assets/images/app.png" class="images" alt="GDPR protection">
        </div>
      </td>
      <td>
        <div class="paragraph-header">
          Client side
        </div>
        <div class="paragraph-body">
          In general the receptionist simply inserts name of the signatory and clicks "Start Questionnaire".

          Start Questionnaire will send the questions to the tablet. The receptionist can follow what's happening on her
          screen too and override the tablet to assist if necessary.

          For versatility and if multiple questionnaires exist the receptionist may select a different pre-prepared
          questionnaire. The list of questions will appear in the table below. If any particular question does not apply
          then it may be deselected and it will not be asked.
        </div>
      </td>
    </tr>



    <tr>
      <td class="columns">
        <div class="paragraph-image">
          <img src="assets/images/pdf.png" alt="GDPR protection">
        </div>
      </td>
      <td>
        <div class="paragraph-header">
          Secure Output
        </div>
        <div class="paragraph-body">
          The application then outputs a password protected PDF file that can be printed or uploaded into the client's
          account on the practice professional software.

          GDPR Frontdesk does not store any client data.
        </div>
      </td>
    </tr>


  </table>




  <div class="emailbox">
    <div class="emailboxcontents">
      GDPR Frontdesk is developed in Dublin, Ireland by independent developers.
      Please use this form to contact us and we will respond asap.


      <form action="https://formsubmit.co/ray@quitealright.com" method="POST">      
        <input type="hidden" name="_subject" value="Email from GDPRFrontdesk.ie">
        <input type="hidden" name="_captcha" value="false">
      <table class="emailtable" width="90%" >
        <tr>
          <td>Name</td>
          <td>Email</td>
        </tr>
        <tr>
          <td><input type="text" name="name" class="emailinput" required></td>
          <td><input type="email" name="email" class="emailinput" required></td>
        </tr>
        <tr>
          <td>Message</td>
        </tr>
        <tr>
          <td colspan="2">
            <textarea name="Message" class="emailtextarea" ></textarea>
          </td>
        </tr>
        <tr>
          <td>
            <button name="btnsendmessage"  type="submit" class="sendbutton">Send Message</button>
          </td>
        </tr>
      </table>
      </form>

    </div>
    <div class="footernotes">
      <span>
        <p>
          This application was created using C#, WPF, sqlite, dapper.<br/>
          The tablet is a Signotec Omega.
        </p>
        <p>
          This webpage was created in Angular 18 and is hosted on AWS S3.
        </p>
      </span>

    </div>

  </div>


</div>